<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:test.properties"/>
    </bean>
    <bean class="com.nero.spring.placeholder.Student">
        <property name="name" value="${student.name}"/>
        <property name="age" value="${student.age}"/>
    </bean>
</beans>