<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="test"/>
    <bean class="test.service.UserServiceImpl">
        <!--也可以使用@UserQualifier标识对应的bean-->
        <!--<qualifier type="test.qualifier.UserQualifier"/>-->
    </bean>
    <bean class="test.service.UserServiceImpl1">
        <meta key="name" value="nero"/>
        <meta key="age" value="15"/>
    </bean>

    <!--注册自定义的Qualifier-->
    <!--<bean id="autowireConfigurer" class="org.springframework.beans.factory.annotation.CustomAutowireConfigurer">-->
    <!--    <property name="customQualifierTypes">-->
    <!--        <set>-->
    <!--            <value>test.qualifier.UserQualifier</value>-->
    <!--        </set>-->
    <!--    </property>-->
    <!--</bean>-->

    <!--<bean id="annotationTest" name="annotationTest" class="test.autowire.ValueAnnotationTest">-->
    <!--    <property name="osName" value="#{T{java.lang.Math}.random()"/>-->
    <!--</bean>-->
    <bean name="parentAnnotationTest" class="test.autowire.ValueAnnotationTest"/>
    <bean name="annotationTest" class="test.autowire.ValueAnnotationTest" parent="parentAnnotationTest"/>
    <bean name="anotherBean" class="test.autowire.AnotherBean">
        <property name="name" value="nero">
            <meta key="test" value="test"/>
        </property>
    </bean>

    <bean name="userService" class="test.factory.UserServiceFactory" factory-method="getUserService"/>
    <bean name="beanA" class="test.circle.BeanA"/>
    <bean name="beanB" class="test.circle.BeanB" destroy-method="getName"/>
    <!--<bean class="test.circle.CircleTestBeanPostProcessor"/>-->
</beans>